Client/OpenTimeTable.Client/Service References/ConnectionService/ConnectionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1449/ConnectionService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1449/ConnectionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OpenTimeTable.Model.Contracts" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="via" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="dateTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isArrivalTime" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="transportations" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="isDirect" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="hasSleeper" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="hasCouchette" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="hasBike" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OpenTimeTable.Model.Contracts" minOccurs="0" name="GetResult" nillable="true" type="q3:ArrayOfConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>