Client/OpenTimeTable.Client/Service References/ConnectionService/ConnectionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OpenTimeTable.Model.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OpenTimeTable.Model.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1449/ConnectionService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfConnection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Connection" nillable="true" type="tns:Connection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnection" nillable="true" type="tns:ArrayOfConnection" />
  <xs:complexType name="Connection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity1st" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Capacity2nd" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="tns:Checkpoint" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Products" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="tns:Service" />
      <xs:element minOccurs="0" name="To" nillable="true" type="tns:Checkpoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Connection" nillable="true" type="tns:Connection" />
  <xs:complexType name="Checkpoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Prognosis" nillable="true" type="tns:Prognosis" />
      <xs:element minOccurs="0" name="Station" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Checkpoint" nillable="true" type="tns:Checkpoint" />
  <xs:complexType name="Prognosis">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Capacity1st" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Capacity2nd" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prognosis" nillable="true" type="tns:Prognosis" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordinates" nillable="true" type="tns:Coordinates" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Coordinates">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="Y" nillable="true" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordinates" nillable="true" type="tns:Coordinates" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Irregular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regular" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
</xs:schema>